.content {
  margin: 40px 0 0 0;
}

.content-adultos {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #000;
  position: relative;
  min-width: 100%;
}

.content-criancas {
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 3fr;
  background-color: #000;
  position: relative;
  min-width: 100%;
}

.content-feminino {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #000;
  position: relative;
  min-width: 100%;
  margin-top: 30px;
}

.content img {
  width: 600px;
  height: 300px;
}

.content-img {
  width: 600px;
  height: 300px;
}

.content h1 {
  color: #f0f0f0;
  margin: 40px auto auto 40px;
  font-size: 3rem;
  line-height: 1.16;
  border-bottom: 5px solid #4f6e3b;
}

.content p {
  color: #e0e0e0;
  grid-column: 2;
  position: absolute;
  top: 130px;
  left: 40px;
  right: 115px;
  font-size: 1.5rem;
  line-height: 1.17;
}

@media (max-width: 414px) {
  .content {
    margin: 15px 0 0 0;
  }

  .content-criancas {
    margin-bottom: 20px;
  }

  .content-img {
    width: 200px;
    height: 160px;
  }

  .content-img img {
    width: 200px;
    height: 160px;
  }

  .content h1 {
    margin: 25px 44px 25px 44px;
    font-size: 2rem;
    border-bottom: none;
    align-items: center;
  }

  .content p {
    display: none;
  }
}
