.contato {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #000;
}

.contato-texto {
  display: grid;
  grid-template-columns: 1fr;
}

.contato-texto h3 {
  font-size: 3rem;
  line-height: 1.14;
  color: #fff;
  margin: 80px 160px 0 133px;
  text-align: left;
}

.contato-texto p {
  font-size: 2rem;
  line-height: 1.14;
  color: #f0f0f0;
  margin: 20px 240px 40px 133px;
  text-align: left;
}

.contato-texto img {
  position: absolute;
  top: 25px;
  left: 30px;
  right: 414px;
  bottom: 30px;
}

.contato-btn {
  font-size: 2.25rem;
  line-height: 1;
  padding: 30px 30px 30px 50px;
  margin-left: 133px;
  margin-right: 300px;
  background-color: #46D24B;
  position: relative;
  margin-bottom: 80px;
  text-decoration: none;
  color: #000;
}

.contato-marcas {
  display: grid;
  grid-template-rows: 1fr;
}

.contato-marcas img {
  grid-column: 1;
  margin-right: 100px;
}

@media (max-width: 414px) {
 .contato {
  grid-template-columns: 1fr 1fr;
 }

 .contato-texto h3 {
  font-size: 2rem;
  line-height: 0.91;
  margin: 20px 42px 25px 20px;
 }

 .contato-texto p {
  font-size: 1.25rem;
  line-height: 1;
  margin: 15px 50px 30px 20px;
 }

 .contato-texto img {
  top: 25px;
  left: 20px;
  right: 100px;
  bottom: 25px;
  width: 35px;
  height: 35px;
 }

 .contato-btn {
  font-size: 1.25rem;
  line-height: 1.2;
  padding: 18px 18px 18px 60px;
  margin-left: 20px;
  margin-right: 64px;
  margin-bottom: 40px;
 }

 .contato-marcas{
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 10px;
 }

 .gfteam {
  width: 130px;
  height: 86px;
  margin: 0px;
 }
 
 .jrmarinho {
  width: 120px;
  height: 120px;
 }

}
