.footer {
  background-color: #0C260F;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer p {
  font-size: 1.5rem;
  line-height: 1.45rem;
  margin: 0 auto 0 40px;
}

@media (max-width: 414px) {
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footer p {
    font-size: 1.05rem;
    line-height: 1.2;
    margin: 0 20px 0 auto;
  }
}